Package: com.insanj.homepaper
Name: Homepaper
Pre-Depends: firmware (>= 7.0)
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Only let your Homescreen wallpaper change.
 Replaces the set-wallpaper picker with a tiny pop-up that prevents messing with the Lock Screen.
Maintainer: Julian Weiss <insanjmail@insanj.com>
Author: Julian (insanj) Weiss
Section: Tweaks